body {
    font-size: 1.2em;
    font-family: "arial", sans-serif;
    font-style: normal;
}

h1 {
    font-family: "roc-grotesk", sans-serif;
    font-size: 3em;
    font-weight: 500;
    font-style: normal;
}
p { font-size: 2em;
    font-family: "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
}